<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1 style="text-align: center">Welcome to see my crud with mysql and node</h1>

    <a href="http://localhost:3000/books ">click to see</a>
    <p>Here I made a simple CRUD application using Node.js and link it with MySQL database to store data here we can edit update delete data.</p>
    <p>
        <h1>MySQL</h1> As we know that we can use MySQL to use Structure Query Language to store the data in the form of RDBMS. SQL is the most popular language for adding, accessing, and managing content in a database. It is most noted for its quick processing,
        proven reliability, ease, and flexibility of use. The application is used for a wide range of purposes, including data warehousing, e-commerce, and logging applications. The most common use for MySQL, however, is for the purpose of a web database.
    </p>
    <p>
        <h1>Cookie-Parser</h1> Cookies are small data that are stored on a client side and sent to the client along with server requests. ... For this, we will use cookie-parser module of npm which provides middleware for parsing of cookies. </p>
    <h1>EJS</h1>EJS, embedded javascript, is a templating language. EJS combines data and a template to produce HTML. One of the most important feature in EJS is the use of partials</p>
    <h1>Flash</h1>
    Connect-flash module for Node. js allows the developers to send a message whenever a user is redirecting to a specified web-page. For example, whenever, a user successfully logged in to his/her account, a message is flashed(displayed) indicating his/her
    success in the authentication. </p>
</body>

</html>